.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace
Taskfile.yml
# These are for local testing purpose
.tests
ffc-demo-apply-web/*
