parameters:
  - name: subscription
    type: string

steps:
  # Login to the cluster
  - task: Kubernetes@1
    displayName: Login to AKS Cluster
    inputs:
      connectionType: 'Azure Resource Manager'
      azureSubscriptionEndpoint: ${{ parameters.subscription }}
      azureResourceGroup: $(AKSResourceGroup)
      kubernetesCluster: $(AKSClusster)
      useClusterAdmin: true
      command: login

  - task: AzureCLI@2
    displayName: Rollback Version
    name: ExtractVersion
    inputs:
      azureSubscription: ${{ parameters.subscription }}
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: |
        echo "##[debug]Getting current deployed version for rollback"

        source ./fcp-pipeline-common/common/shared_functions.sh
        namespace=$(get_namespace_name "True" "$(appName)" "$(releaseVersion)" "$(altEnvironment)")

        version=$(helm get metadata $(appName) -n $namespace | yq '.VERSION')
        echo "##vso[task.setvariable variable=rollbackVersion;isOutput=true]$version"

        echo "##[debug]Change request parmeters:"
        echo "##[debug]short_description: $(appName) v$(releaseVersion) Deployment"
        echo "##[debug]description: "This change request is for a deployment of the service $(appName). The Helm chart being deployed is $(appName) at version v$(releaseVersion). The branch being deployed is $(Build.SourceBranchName) and the pipeline run version for the deployment is #1.0.$(Build.BuildId). The pipeline was triggered by $(Build.RequestedFor)."
        echo "##[debug]justification: Change raised automatically via the Azure ADO Pipeline. If deployment falls outside of agreed scope of pre-approved change then a separate change will have been raised and approved for this deployment"
        echo "##[debug]backout_plan: In the event of a deployment failure, the Helm chart will be rolled back to the previously deployed version v$version"

