parameters:
  - name: subscription
    type: string
  - name: acr
    type: string
  - name: env
    type: string
  - name: isTemporary
    type: boolean
    default: false
  - name: helm_params
    type: object
    default: {}    
steps:
  - task: KubeloginInstaller@0
    condition: succeeded()
    displayName: 'Install kubelogin'
    inputs:
      kubeloginVersion: 'latest'

  - bash: |
      source ./fcp-pipeline-common/common/shared_functions.sh
      namespace=$(get_namespace_name "$(isMainBranch)" "$(appName)" "$(releaseVersion)" "$(altEnvironment)")
      echo the namespace is $namespace
      echo "##vso[task.setvariable variable=namespace]$namespace"
    displayName: 'Extract namespace'

  - bash: |
      source ./fcp-pipeline-common/common/shared_functions.sh

      echo "##[debug]Executing the command: $(appName)/appconfig/${{ parameters.env }}.yaml $(appName) $(prOrBranchNo) ${{ parameters.isTemporary }}"
      configVars=$(convert_config "$(appName)/appconfig/${{ parameters.env }}.yaml" "$(appName)" "$(prOrBranchNo)" "${{ parameters.isTemporary }}")

      printf '%s\n' "$configVars" > "override_value.yaml"

      echo "##[debug]ConfigVars: $configVars"

      dbConfig=""
      if [[ "$(hasDatabase)"=="true" ]]; then
        source ./fcp-pipeline-common/common/shared_functions.sh
        SCHEMA_NAME=$(get_schema_name "$(appName)" "${{ parameters.isTemporary }}" "$(prOrBranchNo)")
        DATABASE_HOST=$(targetEnvironment)$(sqlflexiServerName).postgres.database.azure.com
        dbConfig="postgresService.postgresqlHost=$DATABASE_HOST,postgresService.postgresUser=$(identityName),postgresService.postgresDb=$(databaseName),postgresService.postgresSchema=$SCHEMA_NAME,release.dbName=$(databaseName),release.dbSchema=$SCHEMA_NAME"
      else
        echo "##[debug] Service doesn't have a database, skipping dbConfig"
      fi

      if [[ "${{ parameters.isTemporary }}" == "true" ]]; then
        prConfig="pr=$(prOrBranchNo)"
      else
        prConfig=""
      fi

      infoConfig="release.repo=$(appName),release.branch=$(branchName),release.prNo=$(prOrBranchNo),release.identity=$(identityName)"

      echo "##vso[task.setvariable variable=configVars]$configVars"
      echo "##vso[task.setvariable variable=prConfig]$prConfig"
      echo "##vso[task.setvariable variable=dbConfig]$dbConfig"
      echo "##vso[task.setvariable variable=infoConfig]$infoConfig"

    displayName: 'prepare configuration'

  - task: AzureCLI@2
    displayName: 'Login to acr'
    inputs:
      azureSubscription: ${{ parameters.subscription }}
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        ACR_TOKEN=$(az acr login --name ${{ parameters.acr }} --expose-token --output tsv --query accessToken)
        helm registry login "${{ parameters.acr }}.azurecr.io" --username 00000000-0000-0000-0000-000000000000 --password $ACR_TOKEN

  - task: HelmDeploy@1
    displayName: Deploy Helm Chart
    inputs:
      connectionType: 'Azure Resource Manager'
      azureSubscription: ${{ parameters.subscription }}
      azureResourceGroup: $(AKSResourceGroup)
      kubernetesCluster: $(AKSClusster)
      namespace: $(namespace)
      command: 'upgrade'
      chartType: 'Name'
      chartName: oci://${{ parameters.acr }}.azurecr.io/helm/$(appName)
      chartVersion: $(releaseVersion)
      releaseName: $(appName)
      arguments: '--create-namespace --timeout 120s'
      valueFile: override_value.yaml
      overrideValues: |
        image=${{ parameters.acr }}.azurecr.io/$(appName):$(releaseVersion)
        azureIdentity.clientID=$(identityClientId)
        azureIdentity.resourceID=$(identityResourceId)
        secretProviderClass.azure.tenantId=$(tenantId)
        $(infoConfig)
        $(prConfig)
        $(dbConfig)
